<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="test.css" rel="stylesheet">
</head>
<body>
<div class="window">
    <div id = "loginapp">
        <div v-show="UI.loginissee">
            <label id="change1" v-bind:class="{active : type === 'login'}" v-on:click="loginUI">login</label>
            <label>/</label>
            <label id="change2" v-bind:class="{active : type === 'register'}" v-on:click="registerUI">register</label>
        </div>
        <!--登录表单-->
        <form v-if="count === 1" v-on:submit.prevent="submitinfor" action="/test/studentservelt" method="post">
            <h2>登录</h2>
            <label for="user">邮箱</label>
            <input class="jtf" id="user" type="text" v-model="login.email">
            <label class="warn" v-if="login.email === ''">*必填*</label><br>
            <label>密码</label>
            <input class="jtf" type="password" v-model="login.password">
            <label class="warn" v-if="login.password === ''">*必填*</label><br>
            <input class="btn" type="button" value="登录" v-on:click="submitinfor">
            <input class="btn1" type="button" value="管理员登录" v-on:click="managerloginform">
        </form>

        <!--注册表单-->
        <form v-if="count === 2">
            <h2>注册</h2>
            <label for="user2">邮箱</label>
            <input class="jtf" id = "user2" type="text" v-model="user.email">
            <label class="warn" v-if="user.email === ''">*必填*</label><br>
            <!--<label class="warn" v-if="checkname(register.username) === false">账号只能包含数字</label><br>-->
            <label for="pw1">密码</label>
            <input class="jtf" id="pw1" type="password" v-model="registerinfor.password" v-on:input="compare"><label class="warn" v-if="user.password === ''">*必填*</label><br>
            <label>再次输入密码</label>
            <input class="jtf" id="pw2" type="password" v-model="registerinfor.passwordagain"  v-on:input="compare"><label class="warn" v-if="register.passwordagain === ''">*必填*</label><br>
            <label class="warn" id="warn1" v-if="register.warning1 === 1">密码不一致</label><br v-if="register.warning1 === 1">
            <input class="btn" type="button" value="注册" v-on:click="doregister">
        </form>

        <!--信息完善表单-->
        <form v-if="UI.getinforsee">
            <h3>完善个人信息</h3>
            <label>头像</label>
            <input class="btn1" type="file" @change="handleFileChange" accept="image/*">
            <div v-if="userpreviewUrl">
                <img :src="userpreviewUrl" style="max-width: 200px; max-height: 200px;">
            </div>
            <label for="email">邮箱</label>
            <input class="jtf" id = "email" type="text" v-model="user.email">
            <label class="warn" v-if="register.email === ''">*必填*</label><br>
            <label for="name">姓名</label>
            <input class="jtf" id="name" type="text" v-model="user.name">
            <label class="warn" v-if="user.name === ''">*必填*</label><br>
            <label for="phone">电话号码</label>
            <input class="jtf" id="phone" type="text" v-model="user.phonenumber"><br>
            <label class="warn" v-if="user.phonenumber === ''">*必填*</label><br>
            <input class="btn" type="button" value="提交" v-on:click="submituser">
        </form>

        <form v-show="UI.managerloginUI">
            <h3>管理员登录</h3>
            <label>账号</label><input class="jtf" type="text" v-model="manager.username"><br>
            <label>密码</label><input class="jtf" type="password" v-model="manager.password"><br>
            <input class="btn" type="button" value="登录" v-on:click="managerlogin">
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="login.js"></script>
</body>
</html>